/* Existing Classes:
App: background, NavBar
All: nav, banner, title, universal-home, footer, scrollToTop
Individual: <page-name>-body,
Home: carousel, carouselInner, left, center, right
Contact: (id: name, email, message)

 */

.background {
  overflow: hidden;     /* This line is so cool you have no idea. No white space now */
  background-image: url("./Pictures/background.PNG");
}

.banner {
  text-align: center;
  border-bottom: 1px solid #4a3426; /*separation line*/
  width: 100%;
  z-index: 0;
  background-size: cover; /*extra code for responsive stuff*/
  height: 253px; /*placing the line to the bottom of the banner photo*/
}

.universal-home {
  padding-left: 13%;  /*alignment with banner photo*/
  padding-top: 4%;
  position: unset;
  height: 10px;
  font-size: 4rem;
}

/* Body containers. Made separately in case any of them needed individual adjusting */
.home-body {                   /* Container */
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.aboutMe-body {                   /* Container */
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.dates-body {
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.hire-me-body{
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.contact-body{
  max-width: 40%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.photos-body{
  max-width: 70%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.videos-body{
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.YbYR-body{
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.resistors-body{
  max-width: 60%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  color: hsl(41deg 30% 49%);
  background-color: rgb(0,0,0, 0.55);
  box-shadow: 0 0 15px 8px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#name, #email {
  width: 60%;
}
#message {
  width: 80%;
  height: 5em;
}

.scrollToTop {
  position: fixed;
  bottom: 0.5rem;
  right: 1.5rem;
  animation: fadeIn 200ms ease-in-out 1s both;
  cursor: pointer;
}

.footer {
  padding-top: 1em;
  padding-bottom: 1em;
  color: lightgrey;
}

.App {                          /* Universal */
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {margin: 0; padding: 0;}   /* Universal */

/* Carousel Things*/
.carousel {
  width: 40%;
  height: 375px;
  background-color: black;
}
.carouselInner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);    /* 4th number is for opacity */
  display: grid;
  place-items: center;
  color: lightgrey;
  cursor: pointer;
}
.carouselInner .center {
  flex: 90%;
  height: 100%;
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);    /* 4th number is for opacity */
  display: grid;
  place-items: center;
  color: lightgrey;
  cursor: pointer;
}
